body,
html {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 100%;
}
.container {
  background: linear-gradient(180deg, rgb(219, 87, 219), rgb(75, 75, 130));
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}
.logo {
  width: 150px;
  height: 200px;
  object-fit: fill;
}
h1 {
  color: brown;
  margin-bottom: 20px;
}
p {
  color: rgb(123, 77, 77);
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
input[type="email"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(177, 145, 145);
  margin-bottom: 1rem;
}
button {
  padding: 0.5rem;
  background-color: rgb(128, 37, 37);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0.2);
}
button:hover {
  background-color: rgb(30, 3, 3);
}
svg {
  position: absolute;
}
